--find-links https://download.pytorch.org/whl/cu118
torch == 2.2.1 + cu118
torchvision == "*"
torchaudio == "*"
pillow == "*"
opencv-python == "*"
pandas == "*"
scikit-learn == "*"
seaborn == "*"
matplotlib == "*"
scipy == "*"
torchsummary == "*"
wandb == "*"
tqdm == "*"
requests == "*"
keyboard == "*"
ipython == "*"
datasets == "*"
open-clip-torch == "*"
transformers == "*"
onnx == "*"
onnxruntime == "*"