--find-links https://download.pytorch.org/whl/cu118
torch == 2.2.1
torchvision == 0.17.0
torchaudio == 2.2.0
pytorch-cuda==11.8
pillow == "*"
opencv-python == "*"
pandas == "*"
scikit-learn == "*"
seaborn == "*"
matplotlib == "*"
scipy == "*"
torchsummary == "*"
wandb == "*"
tqdm == "*"
requests == "*"
keyboard == "*"
ipython == "*"
datasets == "*"
open-clip-torch == "*"
transformers == "*"
onnx == "*"
onnxruntime == "*"