pillow == "*"
opencv-python == "*"
pandas == "*"
scikit-learn == "*"
seaborn == "*"
matplotlib == "*"
scipy == "*"
torchsummary = "*"
wandb == "*"
tqdm == "*"
requests == "*"
keyboard == "*"

torch == "*"
torchvision == "*"
torchaudio == "*"
ipython == "*"
datasets == "*"
open-clip-torch == "*"
transformers == "*"
onnx == "*"
onnxruntime == "*"